server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: doctor-service
          uri: lb://DOCTOR-SERVICE
          predicates:
            - Path=/api/v1/doctors/**
          filters:
            - JwtFilter

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
