server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # Check token for doctor register
        - id: auth-register-doctor
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/register/doctor
          filters:
            - name: JwtFilter
          
        - id: auth-service-public
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**
          filters:
            - RewritePath=/api/auth/(?<segment>.*), /api/auth/${segment}

        - id: doctor-service
          uri: lb://doctor-service
          predicates:
            - Path=/api/v1/doctors/**
          filters:
            - name: JwtFilter

        - id: patient-service
          uri: lb://patient-service
          predicates:
            - Path=/api/v1/patients/**
          filters:
            - name: JwtFilter

jwt:
  secret: ${JWT_SECRET}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka


