server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**
          filters:
            - RewritePath=/api/auth/(?<segment>.*), /api/auth/${segment}

        - id: doctor-service
          uri: lb://doctor-service
          predicates:
            - Path=/api/v1/doctors/**
          filters:
            - name: JwtFilter

        - id: patient-service
          uri: lb://patient-service
          predicates:
            - Path=/api/v1/patients/**
          filters:
            - name: JwtFilter

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
