server:
  port: 8081

spring:
  application:
    name: doctor-service

  datasource:
    url: jdbc:mysql://localhost:3306/hms_doctor?useSSL=false&serverTimezone=UTC
    username: root
    password: Suwa99@#

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka