server:
  port: 8082

spring:
  application:
    name: doctor-service

  datasource:
    url: jdbc:postgresql://localhost:5432/doctor_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka