server:
  port: 8083

spring:
  application:
    name: patient-service

  datasource:
    url: jdbc:postgresql://localhost:5432/hms_patient?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true
    username: postgres
    password: Suwa99@#
    driver-class-name: org.postgresql.Driver

    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          format_sql: true

    rabbitmq:
      host: localhost
      port: 5672
      username: guest
      password: guest

  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka
